<div class="row valign-wrapper">
    <div class="row-container col m12 hide-on-small-only modal-trigger valign-wrapper">
        <p class="col m3 left-align">{{article.reference}}</p>
        <p class="col m6 left-align">{{article.designation}}</p>
        <p class="col m1 right-align">{{article.qtestock | number : '1.2-2'}}</p>
        <p class="col m1 right-align">{{article.prixpublic |number : '1.2-2'}}</p>
    </div>
    <div class="col row-options hide-on-small-only modal-trigger valign-wrapper">
        <button class='dropdown-button btn-flat' data-beloworigin="true" constrainWidth="false" data-activates="dropdown1" alignment="bottom"
            materialize="dropdown">
            <i class="material-icons center">more_vert</i>
        </button>
        <ul id="dropdown1" class='dropdown-content'>
            <li>
                <a (click)="deleteArticle()"><i class="material-icons left">delete_forever</i>Supprimer</a>
            </li>
            <li>
                <a (click)="deleteArticle()"><i class="material-icons left">edit</i>Modifier</a>
            </li>
        </ul>
    </div>
</div>

<div class="row hide-on-med-and-up">
    <p class="col s12 left-align">{{article.reference}} : {{article.designation}}<br>
        <b>QTE</b> : {{article.qtestock | number : '1.2-2'}}<br>
        <b>PRIX</b> : {{article.prixpublic |number : '1.2-2'}}</p>
</div>