.row {
	font-size: 80%;
	font-family:Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
}

.row-container{
	cursor: pointer;
}

.row-container:hover {
   background-color: white;
   font-weight: bold;
}

.row-options{
	
}