<div class="row hide-on-small-only modal-trigger">
    <p class="col m3 left-align">{{article.reference}}</p>
    <p class="col m6 left-align">{{article.designation}}</p>
    <p class="col m1 right-align">{{article.qtestock | number : '1.2-2'}}</p>
    <p class="col m1 right-align">{{article.prixpublic |number : '1.2-2'}}</p>
    <button class="waves-effect waves-light btn" (click)="deleteArticle()">de</button>
</div>

<div class="row hide-on-med-and-up">
    <p class="col s12 left-align">{{article.reference}} : {{article.designation}}<br>
        <b>QTE</b> : {{article.qtestock | number : '1.2-2'}}<br>
        <b>PRIX</b> : {{article.prixpublic |number : '1.2-2'}}</p>
</div>