<h1> NEW ARTICLE AREA </h1>
<form class="col s12">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate">

    <button class="btn waves-effect waves-light" type="submit" name="action">Valider
            <i class="material-icons right">send</i>
          </button>
          <button class="btn waves-effect waves-light" type="submit" name="action">Retour
                <i class="material-icons right">send</i>
              </button>
</form>