@media screen and (max-width: 600px) {
  #table-body {
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% - 174px);
}
}

@media screen and (min-width: 601px) {
  #table-body {
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% - 180px);
}
}

#filters-tab {
	overflow-x: hidden !important;
}

.edge-20 {
	width: calc(100% - 18px);
}

td{
	padding: 0px 0px 0px 0px;
}

.row {
	margin-bottom: 0px;
	margin-top: 0px;
}

.search-field-container{
	padding-right: 0px;
	padding-left: 0px;
	border-width: 1px !important;
	border-color: #D8D8D8 !important;
	border-style: solid;
	border-radius: 2px;
}

.search-field-container button{
	min-height: 32px !important;
	max-height: 32px !important;
	height: 32px;
}

.search-field {
	min-height: 32px !important;
	max-height: 32px !important;
	height: 32px;
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 0px !important;
}

.search-field #icon_prefix{
	min-height: 32px !important;
	max-height: 32px !important;
	height: 32px;
	margin-bottom: 0px !important;
	border: 0px;
}

.filters {
	min-height: 60px !important;
	max-height: 60px !important;
	height: 60px;
	line-height: 60px;
}

.user-container{
	min-width: 200px;
	max-width: 200px;
}

.user-container button{ 
	margin-right: 10px;
}

.table-header {
	min-height: 40px !important;
	max-height: 40px !important;
	height: 40px !important;
	line-height: 40px !important;
}

.table-header p{
	margin-bottom: 0px;
	margin-top: 0px;
}

.table-footer {
	min-height: 60px !important;
	max-height: 60px !important;
	height: 60px;
	line-height: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.table-footer .btn{
	text-transform: none !important;
	width: 120px;

	padding-left: 15px;
	padding-right: 15px;

	margin-left: 5px;
	margin-right: 5px;
}

.left-menu{
	padding-top: 20px;
	min-width: 100px;
	max-width: 100px;
	height: calc(100% - 120px);
}

.left-menu button {
	width: 48px;
	height: 48px;
	line-height: 48px;
	margin-top: 10px;
}

.left-menu button .material-icons{
	width: 48px;
	height: 48px;
	line-height: 48px;
}

.table-content{
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 0px;
	width: calc(100% - 100px);
}