<div class="row valign-wrapper">
	<a materialize="sideNav" data-activates="slide-out" class="button-collapse">
		<i class="material-icons">menu</i></a>
	<h4 class="col m4">Clients et fournisseurs</h4>
	<div class="col m5 center-align">
		<ul class="tabs">
			<li class="tab"><a class="active black-text">Tous</a></li>
			<li class="tab"><a class="black-text">Client</a></li>
			<li class="tab"><a class="black-text">Fournisseur</a></li>
			<li class="tab"><a class="black-text">Créditeur</a></li>
			<li class="tab"><a class="black-text">Débiteur</a></li>
		</ul>
	</div>
	<div class="search-field input-field col m3 valign-wrapper">
		<i class="material-icons prefix">search</i> <input id="icon_prefix" placeholder="Rechercher" type="text" class="validate">
	</div>
</div>
<!--
<div class="row left-align">
	<div class="edge-20">
		<p class="col m1 left-align"><b>N°</b></p>
		<p class="col m2 left-align"><b>REFERENCE</b></p>
		<p class="col m7 left-align"><b>DESIGNATION</b></p>
		<p class="col m1 right-align"><b>QTE</b></p>
		<p class="col m1 right-align"><b>PRIX</b></p>
	</div>
</div>

<div class="divider grey lighten-1"></div>
 
<div id="table-body" class="grey lighten-5">
	<table class="bordered">
		<tbody *ngFor="let article of articles">
			<tr>
				<td>
					<article [article]="article"></article>
				</td>
			</tr>
		</tbody>
	</table>
</div>-->