<div class="row valign-wrapper filters transparent">
	<button id="module-button" materialize="sideNav" data-activates="slide-out" class="button-collapse btn-floating waves-effect waves-dark z-depth-0 white tooltipped" data-tooltip="Modules">
		<i class="material-icons red-text text-darken-2">apps</i>
	</button>
	<div class="col s12 m4 left-align">
		<h5 class="m12">Clients et fournisseurs</h5>
	</div>
	<div class="col hide-on-small-only m8 valign-wrapper search-field-container">
		<div class="search-field col m12">
			<input class="col m12 browser-default" #searchField (keyup.enter)="setFilter(searchField.value)" id="icon_prefix" placeholder="Rechercher"
			 type="text">
		</div>
		<button class="waves-effect waves-light btn red darken-2 z-depth-0" (click)="setFilter(searchField.value)">
			<i class="material-icons prefix">search</i>
		</button>
	</div>
	<div class="right row hide-on-small-only user-container">
		<button class="right btn-floating waves-effect waves-light blue">
			<i class="material-icons">account_circle</i>
		</button>
		<button class="right btn-floating waves-effect waves-dark z-depth-0 white">
			<i class="material-icons grey-text">settings</i>
		</button>
	</div>
</div>
<div class="hide-on-med-and-up container search-field input-field col s12 valign-wrapper">
	<input #mSearchField (keyup.enter)="setFilter(mSearchField.value)" id="icon_prefix" placeholder="Rechercher" type="text"
	 class="validate">
</div>

<div class="divider grey lighten-4"></div>

<div class="advanced-filters-container row valign-wrapper hide-on-small-only m12 white">
	<div class="row m12 valign-wrapper advanced-filters-tab">
		<button (click)="setAdvancedFilter('', '-1')" class="col active btn-flat" data-tooltip="Tous les clients et fournisseurs" materialize="tooltip">Tous</button>
		<button (click)="setAdvancedFilter('c.categorie', 'Client')" data-tooltip="Tous les clients" class="col btn-flat" materialize="tooltip">Clients</button>
		<button (click)="setAdvancedFilter('c.categorie', 'Fournisseur')" data-tooltip="Tous les fournisseurs" class="col btn-flat"
		 materialize="tooltip">Fournisseurs</button>
		<button (click)="setAdvancedFilter('=c.bloque', '1')" data-tooltip="Les clients|fournisseurs bloqués" class="col btn-flat"
		 materialize="tooltip">Bloqué</button>
		<button (click)="setAdvancedFilter('>=c.solde', '0')" data-tooltip="Les clients|fournisseurs avec un crédit" class="col btn-flat" materialize="tooltip">Créditeur</button>
		<button (click)="setAdvancedFilter('<c.solde', '0')" data-tooltip="Les clients|fournisseurs qui vous doit un crédit" class="col btn-flat" materialize="tooltip">Débiteur</button>
	</div>
	<div class="row pagination-container valign-wrapper right">
		<div class="row right-align">
			<p class="right" *ngIf="cfsCount >= pageLength">
				<b>{{pageIndex +1}}-{{pageIndex + pageLength}}</b> sur
				<b>{{cfsCount}}</b>
			</p>
			<p class="right" *ngIf="cfsCount != 0 && cfsCount < pageLength">
				<b>{{pageIndex +1}}-{{pageIndex + cfsCount}}</b> sur
				<b>{{cfsCount}}</b>
			</p>
		</div>
		<a [class.disabled]="!hasPreviousPage()" (click)="getPreviousPage()" class="col waves-effect waves-orange red darken-2 btn z-depth-0">
			<i class="material-icons grey-text white-text">chevron_left</i>
		</a>
		<a [class.disabled]="!hasNextPage()" (click)="getNextPage()" class="col waves-effect waves-orange red darken-2 btn z-depth-0">
			<i class="material-icons grey-text white-text">chevron_right</i>
		</a>
	</div>
</div>

<div class="row grey lighten-5">
	<div class="col left-menu center grey lighten-4">
		<button class="btn-floating waves-effect waves-light green tooltipped" data-position="right" data-tooltip="Nouvel article"
		 materialize="tooltip" (click)="newCF()">
			<i class="material-icons">add</i>
		</button>
		<button class="btn-floating waves-effect waves-dark white tooltipped" data-position="right" data-tooltip="Imprimer cette liste"
		 materialize="tooltip">
			<i class="material-icons grey-text">print</i>
		</button>
		<button class="btn-floating waves-effect waves-dark white tooltipped" data-position="right" data-tooltip="Rafraîchir cette liste"
		 materialize="tooltip" (click)="getCFs()">
			<i class="material-icons grey-text">update</i>
		</button>
	</div>
	<div class="col table-content">
		<div class="divider grey lighten-2"></div>
		<div class="row hide-on-small-only valign-wrapper left-align table-header">
			<div class="edge-20">
				<p class="col m6 left-align">
					<b>Raison Sociale</b>
				</p>
				<p class="col m2 left-align">
					<b>N°tel</b>
				</p>
				<p class="col m2 left-align">
					<b>E-Mail</b>
				</p>
				<p class="col m2 right-align">
					<b>Solde</b>
				</p>
			</div>
		</div>

		<div class="divider grey lighten-2"></div>

		<div id="table-body">
			<table class="bordered">
				<tbody *ngFor="let cf of cfs">
					<tr>
						<td>
							<singleCF-component [cf]="cf"></singleCF-component>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div>