.row {
	font-size: 80%;
	font-family:Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
}

.row-container{
	padding: 0px;
	cursor: pointer;
}

.row-container:hover {
   background-color: rgba(255, 255, 255, 0.404);
   font-weight: bold;
}

.row-options, .row-options .btn-flat{
	padding: 0px;
}

.row-options .btn-flat .material-icons{
	font-size: 24px;
} 

.dropdown-content{
	width: 180px !important;
}

.dropdown-content li a, .dropdown-content li a .material-icons{
	color: #181818
}

.dropdown-content li a:hover, .dropdown-content li a .material-icons:hover{
	background: #d32f2f
}